html {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
body {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.essay-detail-info {
  padding: 15px 10px 50px 10px;
  /*.essay-detail-tag {
        margin-top: 5px;
        color     : white;

        span {
            padding         : 2px 10px;
            background-color: #f2f8f2;
            color           : #4f946e;
            border          : 1px solid #e3f1ed;
            border-radius   : 2px;
            font-size       : 13px;
        }

        span:not(:first-child) {
            margin-left: 10px;
        }
    }*/
}
.essay-detail-info .essay-detail-title {
  font-size: 130%;
  line-height: 40px;
}
.essay-detail-info .essay-min-author {
  margin-top: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.essay-detail-info .essay-min-author-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.essay-detail-info .essay-min-author-left .essay-min-author-avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}
.essay-detail-info .essay-min-author-left .essay-min-author-avatar img {
  margin: 3px 5px 0px 0px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.essay-detail-info .essay-min-author-left .essay-min-author-txt-name {
  line-height: 20px;
  /*span {
                        &:last-child {
                            margin-left     : 10px;
                            padding         : 3px 10px;
                            color           : #9aabb8;
                            background-color: #dfe5e9;
                            border-radius   : 3px;
                            font-size       :12px;
                        }
                    }*/
}
.essay-detail-info .essay-min-author-left .essay-min-author-txt-introduction {
  line-height: 20px;
  color: #bbb;
  font-size: 12px;
}
.essay-detail-info .essay-min-author-left .essay-min-author-txt-introduction span:not(:first-child) {
  margin-left: 10px;
}
.essay-detail-info .essay-min-author-left .essay-min-author-txt-introduction span:last-child {
  color: #e09015;
}
.essay-detail-info .essay-min-author-right {
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.essay-detail-info .essay-min-author-right span {
  padding: 2px 10px;
  background-color: #ffebee;
  color: #e53935;
  border: 1px solid #ffcdd2;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
}
.essay-detail-info .essay-min-author-right span:hover {
  border-color: #efabab;
  background-color: #fce4ec;
}
.essay-detail-info .essay-detail-content {
  margin-top: 13px;
  color: #555;
  line-height: 25px;
}
.essay-detail-info .essay-detail-content img,
.essay-detail-info .essay-detail-content video {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}
.essay-detail-info .essay-detail-like-share {
  margin-top: 50px;
  text-align: right;
  height: 30px;
}
.essay-detail-info .essay-detail-like-share span {
  text-align: center;
  color: #ca6445;
  border: 1px solid #fad5b5;
  background: #fbe9d9;
  padding: 5px 10px;
  height: 12px;
  line-height: 1;
  border-radius: 2px;
  font-size: 13px;
}
.essay-detail-info .essay-detail-like-share span:not(:first-child) {
  margin-left: 10px;
}
.essay-detail-info .essay-detail-like-share span:last-child {
  color: #bbb;
  border: 0;
  background: white;
}
.essay-detail-info .essay-author {
  padding: 10px;
  margin: 40px 0px 5px 0px;
  background-color: #fff6ed;
}
.essay-detail-info .essay-author-avatar {
  width: 50px;
  float: left;
  margin-right: 10px;
}
.essay-detail-info .essay-author-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.essay-detail-info .essay-author-txt-name {
  padding: 4px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.essay-detail-info .essay-author-txt-name span:first-child {
  font-size: 16px;
  margin-right: 10px;
}
.essay-detail-info .essay-author-txt-name span:last-child {
  padding: 2px 10px;
  background-color: #ffebee;
  color: #e53935;
  border: 1px solid #ffcdd2;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
}
.essay-detail-info .essay-author-txt-name span:last-child:hover {
  border-color: #efabab;
  background-color: #fce4ec;
}
.essay-detail-info .essay-author-txt-introduction {
  color: #bbb;
  font-size: 13px;
  /*overflow          : hidden;
                    text-overflow   : ellipsis;
                    -o-text-overflow: ellipsis;
                    white-space     : nowrap;
                    display         : block;
                   
                    width: 160px;



                    @media (min-width: @screen-lg-min) {
                        width: 260px;
                    }*/
}
.essay-detail-info .wx-qrcode {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.essay-detail-info .comment-list {
  margin-top: 20px;
  padding: 10px;
}
.essay-detail-info .comment-list ul.comment-menu {
  border-bottom: 1px solid #e3f1ed;
  height: 30px;
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
.essay-detail-info .comment-list ul.comment-menu li {
  float: left;
  padding: 2px 10px;
  color: #4f946e;
}
.essay-detail-info .comment-list .comment-empty {
  padding: 30px;
  color: #bbb;
  text-align: center;
}
.essay-detail-info .comment-list .comment-info {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.essay-detail-info .comment-list .comment-info-avatar {
  margin-top: 5px;
}
.essay-detail-info .comment-list .comment-info-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.essay-detail-info .comment-list .comment-info-content {
  margin-left: 15px;
  width: 100%;
}
.essay-detail-info .comment-list .comment-info-content-user {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.essay-detail-info .comment-list .comment-info-content-user span:not(:first-child) {
  color: #bbb;
  font-size: 13px;
}
.essay-detail-info .comment-list .comment-info-content-txt {
  width: 100%;
  min-height: 30px;
  padding-top: 5px;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 30px;
}
.essay-detail-info .comment-list .comment-info-content-txt-parent {
  color: #bbb;
  margin-bottom: 10px;
  padding-left: 5px;
  border-left: 2px solid#f4f4f4;
}
.essay-detail-info .comment-list .comment-info-content-txt-parent a {
  color: black;
}
.essay-detail-info .comment-list .comment-info-content-txt-parent a:after {
  content: "  :  ";
}
