.search-form {
    text-align: center;
    padding   : 90px 0px 30px;




    .btn-search {
        width : 65px;
        height: 45px;

        position       : relative;
        left           : 18.5%;
        top            : 45px;
        cursor         : pointer;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;

        &:hover {

            .icon-search {
                border-color: yellowgreen;
            }

            .icon-search-after {

                background-color: yellowgreen;

            }
        }

        .icon-search {

            width : 18px;
            height: 18px;

            border-radius: 100%;

            border: 2px solid #888;




        }

        .icon-search-after {

            -webkit-transform: rotate(45deg);

            -moz-transform: rotate(45deg);

            transform: rotate(45deg);

            width: 8px;

            height: 2px;

            position: absolute;

            top: 32px;

            left: 38px;

            background-color: #888;


        }


    }







    .form-control {
        display           : block;
        width             : 40%;
        height            : 45px;
        padding           : 6px 12px;
        font-size         : 14px;
        line-height       : 1.42858;
        color             : #555;
        background-color  : #fff;
        background-image  : none;
        border            : 1px solid #ccc;
        border-radius     : 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow        : inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition     : border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition        : border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        font-family       : inherit;
    }
}




.search-result {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : flex-start;
    margin-top     : 30px;
    word-break     : break-all;
    word-wrap      : break-word;



    &-left {
        margin-right: 50px;
        width       : 850px;

        @media (min-width: @screen-lg-min) {
            width: 900px;
        }
    }

    &-warp {
        display       : flex;
        flex-direction: row;
        width         : 100%;
        margin-bottom : 30px;

        .result-score {
            padding-right: 10px;

            .essay-score {
                border         : 1px solid #ccc;
                display        : flex;
                flex-direction : row;
                justify-content: center;
                align-items    : center;
                height         : 60px;
                width          : 60px;
                border-radius  : 3px;
                font-size      : 200%;
                color          : yellowgreen;
            }

            .essay-score-head-count {

                color     : #888;
                margin-top: 10px;
                text-align: center;
                width     : 60px;
            }
        }



        .result-entity {

            display        : flex;
            flex-direction : row;
            justify-content: flex-start;
            width          : 780px;

            @media (min-width: @screen-lg-min) {
                width: 830px;
            }

            .result-info {
                display       : flex;
                flex-direction: column;
                padding       : 0px 10px;
                width         : 680px;

                @media (min-width: @screen-lg-min) {
                    width: 730px;
                }

                .result-header {

                    a {

                        font-weight: 500;
                        font-size  : 18px;


                        overflow        : hidden;
                        text-overflow   : ellipsis;
                        -o-text-overflow: ellipsis;
                        white-space     : nowrap;
                        width           : 700px;
                        display         : block;

                        &:hover {
                            color: yellowgreen;
                        }
                    }
                }

                .result-content {
                    padding: 10px 0px;

                    a {
                        color: #888;
                    }
                }

                .result-footer {
                    display        : flex;
                    flex-direction : row;
                    justify-content: flex-start;
                    color          : #bbb;

                    >span:not(:first-child) {
                        margin-left: 10px;
                    }

                    .essay-nickname {

                        a {
                            color: #666;

                            &:hover {
                                color: yellowgreen;
                            }
                        }
                    }

                    .essay-category {

                        
                         
                        padding         : 1px 5px;
                        border-radius   : 2px;
                        cursor          : pointer;
                        background-color: #f2f8f2;
                        color: #4f946e;
                        border: 1px solid #e3f1ed;

                    }
                }
            }

            .result-img {

                img {
                    border-radius: 3px;
                    width        : 100px;
                    height       : 100px;
                }
            }
        }
    }



    &-right {
        width: 230px;


        >div {
            h4 {
                margin-bottom: 20px;
            }

            width        : 100%;
            margin-bottom: 50px;

        }

        .essay-recommend-a {

            a {

                display: inline-block;

                margin-bottom   : 10px;
                overflow        : hidden;
                text-overflow   : ellipsis;
                -o-text-overflow: ellipsis;
                white-space     : nowrap;
                width           : 230px;
                font-size       : 14px;
                height          : 30px;
                line-height     : 30px;

                &:hover {

                    color: yellowgreen;
                }

                .recommend-list-number {

                    background: #ee6e73;
                    color     : white;
                    height    : 30px;
                    width     : 30px;
                    display   : inline-block;
                    text-align: center;
                    margin-right: 10px;
                    border-radius: 3px;
                }
            }
        }
    }
}